<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/ad60c541-429e-415a-9079-6badb1b02e4b/resourceGroups/CandenPacific/providers/Microsoft.Web/sites/canden-pacific-api</ResourceId>
    <ResourceGroup>CandenPacific</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://canden-pacific-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>b33b6b64-9662-4e4e-8e11-b704f4991ee3</ProjectGuid>
    <PublishUrl>https://canden-pacific-api.scm.azurewebsites.net/</PublishUrl>
    <UserName>$canden-pacific-api</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>